USE [master]
GO
/****** Object:  Database [AngularWorkshop]    Script Date: 10/25/2017 12:16:29 PM ******/
CREATE DATABASE [AngularWorkshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngularWorkshop', FILENAME = N'C:\Users\Admin\AngularWorkshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngularWorkshop_log', FILENAME = N'C:\Users\Admin\AngularWorkshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngularWorkshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngularWorkshop]
GO
USE [AngularWorkshop]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 10/25/2017 12:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Author] [varchar](50) NOT NULL,
	[IsCheckedOut] [bit] NOT NULL,
	[Rating] [tinyint] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Book] ([Id], [Title], [Author], [IsCheckedOut], [Rating]) VALUES (3, N'Perfect Book', N'Wael Kdouh', 1, 5)
INSERT [dbo].[Book] ([Id], [Title], [Author], [IsCheckedOut], [Rating]) VALUES (5, N'Javascript - The Good Parts', N'Douglass Crockford', 0, 4)
INSERT [dbo].[Book] ([Id], [Title], [Author], [IsCheckedOut], [Rating]) VALUES (6, N'Learning Angular', N'Wael Kdouh', 1, 5)
USE [master]
GO
